<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Eclipse.LogoYogo.mapper.LoginMapper">
	<select id="testBaseDTO" parameterType="baseDTO" resultType="baseDTO">
		SELECT 
			id, pw
		FROM logininfo
		WHERE id = #{id}
	</select>
	
	<select id="getUserInfo" parameterType="loginDTO" resultType="loginDTO">
		SELECT 
			username, password
		FROM logininfo
		WHERE username = #{username} and password = #{password}
	</select>
	
	<select id="getUserId" parameterType="loginDTO" resultType="loginDTO">
		SELECT 
			username
		FROM logininfo
		WHERE username = #{username}
	</select>
</mapper>
